<ion-view title="Function Menu" >

	<ion-content has-header="true">
		<ion-list>
			<ion-item nav-clear ui-sref="main.subMenu">
				<span class="ion-home ion-blue"></span>Dashboard
			</ion-item>
			<ion-item nav-clear ui-sref="main.chatFunc">
				<span class="ion-chatbox ion-blue"></span>Customer Communication
			</ion-item>
			<ion-item nav-clear ui-sref="main.subMenu">
                <span class="ion-person ion-blue"></span>Account
			</ion-item>
            <ion-item nav-clear >
                <span class="ion-help ion-blue"></span>Help
            </ion-item>
		</ion-list>
	</ion-content>
</ion-view>